@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
  color: black !important;
}

.brand-logo,h2{
  font-family: 'Grand Hotel', cursive;
}
.mycard{
  margin-top: 30px;
}
.auth-card{
  padding:20px;
  text-align: center;
  max-width:400px;
  margin: 10px auto;
}
button{
  margin-top: 10px;
  margin-bottom:10px;
}
.profilepic img{
  width: 160px;
  height:160px;
  border-radius:80px;
  margin-top:20px;
  margin-right:10px;
}
.gallery{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.items{
  width:30%;
}
.home-card{
  margin: 26px auto;
  max-width: 500px;
}
.linese{
  padding: 20px;
}
.input-field{
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}
img {
  border-style: none;
  width: 500px;
}
#toast{
  right:20px !important;
  top: 30px !important;
  left:auto !important
}